@use '../abstracts/index' as c;


.navbar {
    background-color: c.$primary;
    --bs-navbar-color: white;
    z-index: 999;
    font-size: 12.5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

