.row-footer {
    background-image: url(../images/fondo-color-logoo.png);
    color: white;
    margin: 0%;
}

.footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;

}